EBAY_SANDBOX_CLIENT_ID=
EBAY_SANDBOX_CLIENT_SECRET=
EBAY_SANDBOX_DEV_ID=
EBAY_SANDBOX_ENV=sandbox
EBAY_PRODUCTION_CLIENT_ID=
EBAY_PRODUCTION_CLIENT_SECRET=
EBAY_PRODUCTION_DEV_ID=
EBAY_PRODUCTION_ENV=production
PRICECHARTING_TOKEN=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=pokemon
DATABASE_USER=postgres
DATABASE_PASSWORD=
POKEMON_TCG_API_KEY=
